body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.container-window {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: block;
    position: fixed;
}

.text-styling h1, .text-styling p {
    padding: 10px;
    text-align: center;
}

.center-middle {
    display: block;
    background-color: green;
    position: fixed;
    width: 15vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.close-bar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-bar button {
    background-color: black;
    border: none;
    color: gray;
}

.close-bar button:hover {
    background-color: red;
    border: none;
    color: white;
}

.center-middle h1, .center-middle p {
    padding: 20px;
}

/* Finished Window When All Popups are Done */ 
.finished {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 30px;
    color: white;
    background-color: #EF4444;
    border-radius: 16px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.finished h1, .finished p {
    margin: 0;
}

.finished .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.finished .form input, .finished .form button {
    grid-column: span 6;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.finished .form input {
    width: 60%;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s;
}

.finished .form input:focus {
    outline: none;
    border: 2px solid #FCA5A5;
}

.finished .form button {
    width: 60%;
    background-color: #FFFFFF;
    color: #EF4444;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.8s, transform 0.1s;
}

.finished .form button:hover {
    background-color: #FEE2E2;
}

.finished .form button:active {
    transform: scale(0.95); /* Button slightly shrinks when clicked */
}